[Unit]
Description=SIM7600 QMI Connection
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/simcom-connect.sh

[Install]
WantedBy=multi-user.target